@keyframes rotate{

   from {
    transform: rotate(0deg);
   }

   to {
    transform: rotate(360deg);
   }

}

.rotate{
  animation-name:rotate;
 animation-duration:12s;
 animation-iteration-count:infinite;
  animation-timing-function: linear;
 display:block;
 transform-origin: center;

}

@keyframes shake{

   from {
    transform: translateX(10px);
   }

   to {
    transform: translateX(-10px);

   }

}

.shake{
  animation-name:shake;
 animation-duration:.5s;
 animation-iteration-count:infinite;
  animation-timing-function: linear;
 display:block;
 transform-origin: center;

}




body {
  background:whitesmoke;
  overflow:hidden;
}


h1 {
  color:black;
  font-size:20vw;
  margin:0;
  z-index: 999;
}

    .disorganized-items h1 {
      position:absolute;
      top:-10vw;
    }

    .methodical-items h1 {
      position:absolute;
      bottom:-10vw;
    }

img {
  width:100%;
}


.methodical-image {
  position:absolute;
  top:50%;
  left:50%;
  width:500px;
  transform:translateX(-50%) translateY(-50%);
}


.shards-image {
  position:absolute;
  top:50%;
  left:50%;
  width:66.66%;
  
}


.attribution {
  font-size: .3em
}



.quote {
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  width:30%;
  font-size: 3vw;
  color:black;
  font-family: sans-serif;
  border-top:.3vw solid black;
}

    .methodical-items .quote {
    left:0;
    }


    .disorganized-items .quote {
      right:0;
    }


.synonym-wrapper {
  position:absolute;
  width:100%;
}

      .methodical-items .synonym-wrapper {
        bottom:10vw;
      }


      .disorganized-items .synonym-wrapper {
        top:10vw;

      }






.synonym {
  font-family: monospace;
  font-size: 10px;
}

    .methodical-items .synonym {
      width:25%;
      display: inline-block;
    }

    .disorganized-items .synonym {
      display: inline-block;
      margin-right:100px;
    }










@media (max-width: 800px) {


  .disorganized-items h1 {
    left:-40vw;
    top:20vw;
    transform:rotate(90deg);
  }

  .methodical-items h1 {
  right:-40vw;
  bottom:0;
  transform:rotate(-90deg);
  }
  

}


@media (max-width: 500px) {

  .quote {
    width:70%;
  }

    .methodical-items .quote {
    bottom:20vw;
    top:auto;
    }


    .disorganized-items .quote {
      right:0;
      top:20vw;
      bottom:auto;

    }

}



